In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Arrays

In [ ]:
# Run this cell
heights = make_array(67, 60, 71, 63, 65)
heights

In [ ]:
# Divide 'heights' by 12
...

In [ ]:
# Determine how many elements are in height (it's lenght)
...

In [ ]:
# Find the sum of the values in the array 'heights'
...

In [ ]:
# Divide the sume of the 'heights' by the length of 'heights'
...

In [ ]:
# Is there another way to get the same answer as the above cell?
...

In [ ]:
# Run this cell
strings_array = make_array('ok', 'ya', 'hm')
strings_array

In [ ]:
# Run this cell
# What happened?
strings_array * 2

In [ ]:
'ha'*2

In [ ]:
heights.item(3)

In [ ]:
heights.item(0)

In [ ]:
strings_array.item(0)

## Ranges ##

In [ ]:
make_array(0, 1, 2, 3, 4, 5, 6)

In [ ]:
np.arange(6)

In [ ]:
np.arange(7)

In [ ]:
np.arange(5, 11)

In [ ]:
np.arange(0, 20, 3)

In [ ]:
np.arange(0, 21, 2)

In [ ]:
np.arange(0, 1, 0.1)

In [ ]:
a = np.arange(8)

In [ ]:
a

In [ ]:
a.item(8)

In [ ]:
b = np.arange(5)
b

In [ ]:
b.item(3)

In [ ]:
food = make_array('pizza', 'spaghetti', 'ice cream', 'donuts', 'crackers', 'tacos', 'nachos', 'chicken', 'sushi', 'apples')
food

In [ ]:
food.item(7)

## Creating a Table from Scratch ##

In [ ]:
streets = make_array('Englewood', 'Knox', 'Green', 'Markham')
streets

In [ ]:
southside = Table().with_column('Streets', streets)
southside

In [ ]:
southside.with_column('Blocks from campus', np.arange(4))

In [ ]:
southside

In [ ]:
southside = southside.with_column('Blocks from campus', np.arange(4))
southside

In [ ]:
southside.labels

In [ ]:
southside.num_columns

In [ ]:
southside.num_rows

## Selecting data in a column ##

In [ ]:
movies = Table.read_table('data/movies_by_year_with_ticket_price.csv')
movies.show()

In [ ]:
gross_in_dollars = movies.column('Total Gross') * 1e6
tix_sold = gross_in_dollars / movies.column('Average Ticket Price')

In [ ]:
movies = movies.with_column('Tickets sold', tix_sold)

In [ ]:
movies.show(4)

In [ ]:
movies.set_format('Tickets sold', NumberFormatter)

In [ ]:
movies.plot('Year', 'Tickets sold')

In [ ]:
# How would you display the movies that came out between 2000 and 2004?
...

In [ ]:
# Display the movie that came out in 2002
...

In [ ]:
# Display all Harry Potter movies
...

In [ ]:
movies.take(np.arange(2, 5))