In [1]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Lesson 09: Functions ##

## Functions ##

In [16]:
# Create a function called triple that takes in a value x and returns 3 times the value x
def ...:
    return ...

In [15]:
# Use the function triple to find the result if x is equal to 3
...

9

In [4]:
# Assign to 4 to num
...

In [5]:
# Use the function triple to find the result if x is equal to num
...

12

In [6]:
# Use the function triple to find the result if x is equal to the product of num and 5
...

60

### Note About Scopes

In [7]:
# Run this cell.  What happened?
x

NameError: name 'x' is not defined

In [8]:
# Assign 5 to x
...

In [9]:
# Use the function triple to find the result if x is equal to the product of 2 and x
...

30

In [10]:
# Run this cell.  What happened?
x

5

### Type Agnostic

In [17]:
# Use the function triple to find the result if x is the string 'ha'
...

'hahaha'

In [18]:
# Use the function triple on the array that contains the values from 
# 0 to 3
...

array([0, 3, 6, 9])

### Multiple Arguments

$ h^2 = x^2 + y^2 \hspace{20 pt} => \hspace{20 pt} h = \sqrt{ x^2 + y^2 } $

In [19]:
# Create a function called hypotenuse that takes in 2 values
# the function returns the value of h
# Use the information that is provided above

def ... :
    ...
    return ...

In [23]:
# Use the hypotenuse function to find the hypotenuse of a right triangle with legs of size 9 and 12
...

7.787810988975015

In [21]:
# Use the hypotenuse function to find the hypotenuse of a right triangle with legs of size 2 and 2
...

2.8284271247461903

## Apply ##

In [27]:
# Create a table called office
# The table will have the columns Person and Birth Year
# The information under Person should be Jim, Pam, Michael, and Creed
# The information under Birth Year should be 1985, 1988, 1967, and 1904
office = ...
office

Person  | Birth Year
Jim     | 1985
Pam     | 1988
Michael | 1967
Creed   | 1904

In [28]:
# Create a function age_in_2023 that will take in the value of x
# and return the difference between 2023 and x
def ...:
    return ...

In [29]:
# Use the function age_in_2023 to find the age of a person born in 1948
...

47

In [31]:
# Use the built in function apply to apply age_in_2023 to the column Birth Year from the table office
...

array([ 37,  34,  55, 118])

In [36]:
# Create a function name_and_age that takes in a name and a year
# it should return the name + 'is' + the age as a string
def ... :
    age = ... 
    return ...

In [37]:
# Apply the function name_and_age to the columns Person and Birth Year
...

array(['Jim is 37', 'Pam is 34', 'Michael is 55', 'Creed is 118'],
      dtype='<U13')